node_modules
dist
.wrangler
.dev.vars*

.DS_Store
*.pem
*.tsbuildinfo

.env*
!.env.example

coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Solana / Anchor build artifacts
solana/target
solana/.anchor